header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: aqua;
}

.ser{
    position: absolute;
    top: 30;
    left: 20px;
    height: 330px;
    width: 120px;
    background-color: red;
}

.search{
    position: relative;
}